
@{
    ViewBag.Title = "Ditib Strasbourg";

    Layout = "~/Views/Shared/strasbourg_layout.cshtml";
}


<br />

<div class="main-container container" id="main-container" style="background-color: #f6f9fb !important;">
    <!-- post content -->
    <div class="blog__content mb-72">

        <img src="~/Assets/strasbourgpanel/strasbourg/img/bannerzekat.svg">
        <div class="description">
            <h1>FONDS DE DOTATION DİTİB STRASBOURG</h1>
            <p><span style="color: rgb(0, 0, 0); font-size: 11pt; line-height: 16.8667px; font-family: Calibri, sans-serif;">DİTİB Strasbourg&nbsp; Zekat Online Bağış Sistemi<br>DİTİB Strasbourg&nbsp;paiement en ligne de l’aumône Zakat</span><br><p>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="additional">
            <p><div>Association de droit local inscrite au TA de Strasbourg sous le volume 90 Folio 69 // sise : 3, Rue Thomas Mann 67200 STRASBOURG.</div><div>Conditions de vente : Attention les licences vendues sur internet ne pourront faire l’objet d’aucun remboursement ultérieur.&nbsp;</div><div><br></div></p>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div style="background-color: #fff  !important; padding : 20px 50px ; color: white !important; ">
            @using (Html.BeginForm("AlmsDonationPost", "Donate", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="inputPassword4">Ad</label>
                        <input type="text" class="form-control" name="Name" id="name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="inputPassword4">Soyad</label>
                        <input type="text" class="form-control" name="Surname" id="surname">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="inputEmail4">E-mail</label>
                        <input type="email" class="form-control" name="Email" required id="email">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="inputEmail4">Telefon</label>
                        <input type="tel" class="form-control" name="PhoneNumber" required id="phonenumber">
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="inputPassword4">Posta Kodu</label>
                        <input type="text" class="form-control" name="ZipCode" required id="zipcode">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="inputPassword4">Şehir</label>
                        <input type="text" class="form-control" name="City" required id="city">
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="inputPassword4">Adres</label>
                        <input type="text" class="form-control" name="Adress" required id="adress">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label for="inputEmail4">Ek Bilgiler</label>
                        <textarea class="form-control" name="AdditionalInfo" required id="additionalinfo" rows="3"></textarea>
                    </div>

                </div>

                <br />
                <div style=" color: black; font-size: 10px !important;">
                    Ces informations sont obligatoires pour le traitement de votre commande. Elles seront conservées pour la durée de prescription légale attachée à l’opération. L&#039;accès à vos données personnelles est strictement limité à l’association et au sous-traitant en charge de l’hébergement du site. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée et au Règlement européen n°2016/679/UE du 27 avril 2016 (applicable dès le 25 mai 2018), vous bénéficiez d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données ou encore de limitation du traitement. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant. Vous pouvez exercer ces droits en adressant un courrier au responsable du traitement : adil.bulbul@ditibstrasbourg.fr
                </div>
                <hr>
                <div class="row">
                    <div class="col col-lg-2">
                        <label for="zekatmiktari" style="margin-top: 15px !important;">Zekat Miktarı</label>
                    </div>
                    <div class="col col-lg-4" style="margin-left: -80px !important;">
                        <div class="row">
                            <div class="col col-lg-6">
                                <input type="number" id="almsamount" name="AlmsAmount" min="10" max="10000000">
                            </div>

                            <div class="col col-lg-2">
                                <h4 style="margin-top: 5px;">€</h4>
                            </div>
                        </div>

                    </div>
                </div>

                <br />
                <button type="submit" class="btn btn-danger">Devam Et</button>
            }

        </div>
        <br /><br />
    </div> <!-- end post content -->


</div> <!-- end main container -->



@if (Session["almsdonationjson"] != null)
{


    @section almsdonation{
        <script>
    document.getElementById("name").value =  "@Session["almsdonationname"].ToString()";
    document.getElementById("surname").value = "@Session["almsdonationsurname"].ToString()";
    document.getElementById("email").value = "@Session["almsdonationemail"].ToString()";
    document.getElementById("adress").value = "@Session["almsdonationadress"].ToString()";
    document.getElementById("city").value = "@Session["almsdonationcity"].ToString()";
    document.getElementById("phonenumber").value = "@Session["almsdonationphonenumber"].ToString()";
    document.getElementById("zipcode").value = "@Session["almsdonationzipcode"].ToString()";
    document.getElementById("additionalinfo").value = "@Session["almsdonationadditionalinfo"].ToString()";
    document.getElementById("almsamount").value = "@Session["almsdonationalmsamount"].ToString()";
        </script>
    }
}