@using Strasbourg.Domain.Enums
@model Strasbourg.Domain.ViewModels.BoardViewModel
@{
    ViewBag.Title = "Panel | Ditib Strasbourg";
    Layout = "~/Areas/Login/Views/Shared/panel_layout.cshtml";
}

<br />
<!-- end page title -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("BoardOfAuditorSave", "Board", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {

                        <h3>Kişi Detayı</h3>

                        <div class="row">
                            <div class="form-group">
                                @Html.HiddenFor(x => x.Id)
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(x => x.Count)
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(x => x.BoardType)
                            </div>
                            <div class="col col-lg-12">
                                <div class="input-group mt-3">
                                    <span class="input-group-append">
                                        <button type="button"
                                                class="btn waves-effect waves-light btn-primary" style="width: 150px !important;">
                                            Ad Soyad
                                        </button>
                                    </span>
                                    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", id = "NameSurname", @required = "required" })


                                </div>
                            </div>
                            <div class="col col-lg-12">
                                <div class="input-group mt-3">
                                    <span class="input-group-append">
                                        <button type="button"
                                                class="btn waves-effect waves-light btn-primary" style="width: 150px !important;">
                                            Unvan
                                        </button>
                                    </span>
                                    @Html.TextBoxFor(x => x.Degree, new { @class = "form-control", id = "Degree", @required = "required" })

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="input-group mt-3">
                                    <span class="input-group-append">
                                        <button type="button"
                                                class="btn waves-effect waves-light btn-primary" style="width: 217px !important;">
                                            Resim
                                        </button>
                                        <input type="file" class="dropify" data-default-file="@ViewBag.Image" name="Image" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br />
                        if (@ViewBag.incele == null)
                        {
                            <button type="submit" class="btn btn-success waves-effect width-md waves-light">Kaydet</button>
                        }
                        else
                        {
                            <script>
                                document.getElementById("NameSurname").readOnly = true;
                                document.getElementById("Degree").readOnly = true;

                            </script>
                        }
                    }
                </div>




            </div>


        </div>

    </div>
</div>

